<!DOCTYPE html>

@{
    Layout = "~/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2 class="text-success text-center well bs-component">About me</h2>


        <section class="col-sm-6">
            <img src="~/Images/Boat 11x14.jpg" alt="Boat" style="width:500px;height:500px;float:left;" class="img-responsive img-circle">
        </section>

        <blockquote class="blockquote-reverse text-justify">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum lacus non vehicula venenatis. In ultricies felis vel lorem rhoncus, at interdum velit mollis. Integer et tempus quam, id dictum diam. Vivamus vel dignissim sapien. Fusce porta consectetur augue sit amet sagittis. Praesent venenatis sed orci et suscipit. Proin placerat quam quis massa accumsan, ut hendrerit lacus egestas. Cras condimentum dignissim sem in tempor. Fusce laoreet blandit magna, ut ultricies enim posuere at.</p>
            <cite>Andre Myers</cite>
        </blockquote>
    </div>
</div>