<!DOCTYPE html>

@{
    Layout = "~/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        <section class="col-sm-5">
            <img src="~/Images/Bear.jpg" alt="Bear" style="width:400px;height:400px;float:right;" class="img-responsive img-circle">
        </section>

        <blockquote class="blockquote-reverse text-justify">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum lacus non vehicula venenatis. In ultricies felis vel lorem rhoncus, at interdum velit mollis. Integer et tempus quam, id dictum diam. Vivamus vel dignissim sapien. Fusce porta consectetur augue sit amet sagittis. Praesent venenatis sed orci et suscipit. Proin placerat quam quis massa accumsan, ut hendrerit lacus egestas. Cras condimentum dignissim sem in tempor. Fusce laoreet blandit magna, ut ultricies enim posuere at.</p>
            <cite>Andre Myers</cite>
        </blockquote>
    </div>
</div>