<!--Assignment 2 CS4790 - Andre Myers-->

@{
    Layout = "~/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Assignment 2 - Main Page</title>

</head>
<body>
    <div class="jumbotron">
        <img src="~/Images/P5270513 - Cropped 12 x 18.jpg" width="400" class="img-responsive center-block img-circle" />
        <h1 class="text-center">Welcome to my site</h1>
        <p class="text-center">This is my second assignment for CS4790</p>
        <p class="text-center"><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>

    <div class="container">
        <div class="row">
            <section class="col-lg-4">
                <h4 class="text-success text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum lacus non vehicula venenatis. In ultricies felis vel lorem rhoncus, at interdum velit mollis. Integer et tempus quam, id dictum diam. Vivamus vel dignissim sapien. Fusce porta consectetur augue sit amet sagittis. Praesent venenatis sed orci et suscipit. Proin placerat quam quis massa accumsan, ut hendrerit lacus egestas. Cras condimentum dignissim sem in tempor. Fusce laoreet blandit magna, ut ultricies enim posuere at. Aenean suscipit odio ante, laoreet porta velit iaculis laoreet. In sed lacinia tortor, vitae maximus ante.</h4>
            </section><!--column-->

            <section class="col-lg-4">
                <h4 class="text-success text-justify">In efficitur orci quis urna accumsan bibendum quis eu magna. Maecenas id commodo ligula. Phasellus rhoncus vestibulum rutrum. Aliquam sed elit condimentum nibh luctus malesuada. Mauris aliquam metus sit amet vestibulum tincidunt. Phasellus eleifend sodales augue nec ornare. Aenean posuere auctor interdum. Cras rhoncus, neque sed elementum laoreet, ipsum mauris luctus libero, nec vehicula purus lorem id nulla. Sed dictum, dolor in ultrices elementum, dui est rutrum sapien, sed elementum lacus ante sed mauris. Mauris nec velit dapibus, iaculis neque eu, lobortis ante. Nunc posuere, tellus eu porta vestibulum, risus nulla blandit lacus, non commodo lacus tortor euismod lectus.</h4>
            </section><!--column-->

            <section class="col-lg-4 text-justify">
                <h4 class="text-success">Sed ligula diam, consectetur et nisi non, tempor vulputate diam. Cras urna ante, bibendum sed lacinia a, aliquet id lacus. Aliquam id nisi blandit, molestie arcu sit amet, aliquam turpis. Nulla commodo, urna id ullamcorper sollicitudin, nisl ligula porta orci, sed consectetur odio ante a libero. Aenean ut cursus massa. Integer pulvinar libero in libero accumsan semper. In sed iaculis nunc, vitae dignissim lacus. Sed luctus quam sit amet elit tempor commodo. Duis posuere nisl id sapien consectetur, eget interdum est bibendum. Curabitur sed tincidunt enim, vel laoreet est. Etiam consectetur lacinia massa nec efficitur. Mauris aliquet, purus nec ullamcorper tempus, quam felis faucibus eros, sed rhoncus tellus odio in augue. Sed consequat viverra nunc ultricies egestas. Ut lacinia augue at laoreet tempor.</h4>
            </section><!--column-->

        </div><!--row-->
    </div><!--container-->

</body>
</html>
