<!DOCTYPE html>

@{
    Layout = "~/Shared/_Layout.cshtml";
}

<!--Display some pictures-->

<div class="container">
    <div class="row">

        <section class="col-sm-4">
            <a href="~/Images/Statue.jpg" target="_blank">
                <img src="~/Images/Statue.jpg" alt="Statue of Liberty" style="width:200px;height:300px;" class="img-responsive center-block img-thumbnail">
                <h3 class="text-center">Statue of Liberty</h3>
            </a>
        </section>

        <section class="col-sm-4">
            <a href="~/Images/Niagara.jpg" target="_blank">
                <img src="~/Images/Niagara.jpg" alt="Niagara Falls" style="width:350px;height:300px;" class="img-responsive center-block img-thumbnail">
                <h3 class="text-center">Niagara Falls</h3>
            </a>
        </section>

        <section class="col-sm-4">
            <a href="~/Images/Delicate Arch.jpg" target="_blank">
                <img src="~/Images/Delicate Arch.jpg" alt="Delicate Arch" style="width:350px;height:300px;" class="img-responsive center-block img-thumbnail">
                <h3 class="text-center">Delicate Arch</h3>
            </a>
        </section>


        <section class="col-sm-4">
            <a href="~/Images/Bridge.jpg" target="_blank">
                <img src="~/Images/Bridge.jpg" alt="Brooklyn Bridge" style="width:300px;height:300px;" class="img-responsive center-block img-thumbnail">
                <h3 class="text-center">Brooklyn Bridge</h3>
            </a>
        </section>

        <section class="col-sm-4">
            <a href="~/Images/Arch.jpg" target="_blank">
                <img src="~/Images/Arch.jpg" alt="Moab Arch" style="width:350px;height:300px;" class="img-responsive center-block img-thumbnail">
                <h3 class="text-center">Moab Arch</h3>
            </a>
        </section>

        <section class="col-sm-4">
            <a href="~/Images/Antelope Trial 12x18-1.jpg" target="_blank">
                <img src="~/Images/Antelope Trial 12x18-1.jpg" alt="Antelope Island" style="width:350px;height:300px;" class="img-responsive center-block img-thumbnail">
                <h3 class="text-center">Antelope Island</h3>
            </a>
        </section>

    </div><!--container-->
</div><!--row-->
