@{
    Layout = "~/Shared/_Layout.cshtml";
}

@{
    var FirstName = Request["FirstName"];
    var LastName = Request["LastName"];
    var Address = Request["Address"];
    var City = Request["City"];
    var State = Request["State"];
    var Zip = Request["Zip"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 bl">
                <h2 class="text-success text-center well bs-component">Your information</h2>
                <div class="well bs-component">
                    <span class="center-block">
                        <p style="font-size:120px; float:right;" class="text-success glyphicon glyphicon-user"></p><br />
                        <p style="font-size:x-large" class="text-danger"> @FirstName @LastName</p>
                        <p style="font-size:x-large" class="text-danger">  @Address</p>
                        <p style="font-size:x-large" class="text-danger">  @City, @State @Zip</p>
                    </span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
