@{
    Layout = "~/Shared/_Layout.cshtml";
}

@{
    var FirstName = Request["FirstName"];
    var LastName = Request["LastName"];
    var Address = Request["Address"];
    var City = Request["City"];
    var State = Request["State"];
    var Zip = Request["Zip"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 bl">
                <h2>The information you entered was:</h2><br />
                <div>
                    <blockquote class="text-justify">
                        <p style="font-size:150px; float:right;" class="text-success glyphicon glyphicon-user"></p><br/>
                        <p style="font-size:x-large" class="text-danger"> @FirstName @LastName</p>
                        <p style="font-size:x-large" class="text-danger">  @Address</p>
                        <p style="font-size:x-large" class="text-danger">  @City, @State @Zip</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
