################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A2 - Andre Myers/SQLQuery1.sql
