<!DOCTYPE html>

<!--Horizontal Navigation Bar-->

<body>

    <ul>
        <li><a href="~/default.cshtml">Home</a></li>
        <li><a href="~/Pictures.cshtml">Pictures</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>

</body>
