/*Styles Sheet*/

*
{
    margin: 0px;
    padding: 0px;
} 

.wrapper
{
    margin: auto auto auto auto;
    width: 80%;
}

/*.content
{
    background-color: white;
    float: right;
    width: 80%;
}*/

.content, aside
{
    min-height: 800px;
} 

header
{
    background-color:#000;
    color:black;
    clear: both
} 

footer
{
    color:#000;
    height: 40px;
    clear: both;
    text-align: center;
    color: lightslategray;
    font-size:small;
} 

aside
{
    width: 20%;
    background-color: gray;
    float: left;
    display:block;
} 

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808080;
}

li
{
    float: left;
}

li a
{
    display: block;
    text-align: center;
    padding: 24px 26px;
    font-size: x-large;
}

li a:hover:not(.active)
{
    background-color: black;
    color: white;
    text-decoration:none;
}

/*.active
{
    background-color: white;
}*/

text
{
    background-color: gray;
    display:block;
    color: white;
    text-wrap: normal;
    margin: 20px;
    font-size:large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

table, td, th
{
    /*border-width: 1px;
    border-style: dotted;
    border-color: red;*/
    height: 30px;
}

/*tr:nth-child(even) {background-color: #f2f2f2}*/

div.scroll /* Makes a scroll bar for longer output */
{
    width: 500px;
    height: 750px;
    overflow:auto;
}

form
{
    margin:20px 20px 20px 20px;
}

.validation-summary-errors
{
  color:red;
  font-weight:bold;
  width:30%;
  margin-left:150px;
}

.field-validation-error
{
   color:red;
   font-weight:bold;
}

.input-validation-error
{
  color:red;
  font-weight:bold;
  background-color:pink;
}