a, input[type="button"], input[type="submit"] {
    margin-top: 40px;
    margin-right: 20px;
}

ul {
    margin-left: 100px;
    justify-content: center;
}

html {
    padding-left: 0px;
    padding: 70px;
}

body {
    border-top: solid 10px #000;
    padding-top: 40px;
}

header, footer, hgroup,
nav, section {
    display: inline-block;
    display: inline-block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-top: 10px;
    padding-top: 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
}

header .content-wrapper {
    padding-top: 20px;
}

footer {
    clear: both;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }



/* footer
    ----------------------------------------------------------*/
footer .float-left,
footer .float-right {
    float: none;
}

footer {
    text-align: center;
    height: auto;
    padding: 10px 0;
}

    footer p {
        margin: 0;
    }

div #bs-example-navbar-collapse-1
{
    margin-left:100px;
    margin-right:100px;
}

div #form-group
{
    margin-top:12px;
}
