<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="@Href("~/Shared/Style.css")" type="text/css" />
    <link href="~/Content/bootstrap-theme-united.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <section class="col-lg-10">
                        <ul class="nav navbar-fixed-top navbar-inverse nav-justified">
                            <li><a href="~/default.cshtml" class="h3 text-primary">Home</a></li>
                            <li><a href="~/DisplayPictures.cshtml" class="h3 text-primary">Pictures</a></li>
                            <li><a href="~/Form.cshtml" class="h3 text-primary">Register</a></li>
                            <li><a href="~/About.cshtml" class="h3 text-primary">About Me</a></li>
                        </ul>
                    </section>
                </div><!-- row -->
            </div><!-- container -->
        </header>

        <div class="tab-content">
            @RenderBody()
        </div>

        <footer class="modal-footer img-responsive">
            <h5>&copy; Andre Myers</h5>
            <h6> @DateTime.Now.Month/@DateTime.Now.Day/@DateTime.Now.Year</h6>
        </footer>

    </div>

</body>
</html>