<!--Assignment 1 CS4790 - Andre Myers-->

@{
    Layout = "~/Shared/_Layout.cshtml";
}

<div span="2">
    @section sidebar{
        <text>
            This is the first assignment for CS4790.
        </text>
    }
</div>

<div class="col-lg-offset-3">
    <h1 class="text-justify">This is my first website for CS4790.</h1>
</div>