<!DOCTYPE html>

@{
    Layout = "~/Shared/_Layout.cshtml";
}

@section sidebar{
    <text>
        This page displays all of the pictures located in your Windows picture folder.
    </text>
}

    <!--Display a table of the Pictures directory-->

    @{
        var windowsDir = Path.GetPathRoot(Environment.SystemDirectory); //Get drive Windows is running on
        var userID = "Users\\" + Environment.UserName;  //Get users login name
        string[] files = Directory.GetFileSystemEntries(windowsDir + userID + @"\Pictures");  //Store directory listing in an array
    }

<div class = "scroll">
    <h2 class="alert">@windowsDir@userID\Pictures</h2>

    <table class="table-hover">
        @{
            foreach (string file in files)
            {
                <tr>
                    @*<td><a href = "@Href(file)"></a>@file</td>*@   @*Trying to link to the file, not working...*@
                    <td>@file</td>
                </tr>
            }
        }
    </table>
</div>
